In [17]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time
from citipy import citipy
import json
import time; time.time()

# Range of latitudes and longitudes
lat_range = (64, 20)
lng_range = (-154, -65)

# Output File (CSV)
output_data_file = "data/cities.csv"

# Import API key
from api_keys import weather_key

In [203]:
weather_data_df = pd.read_csv("data/tornadoes.csv")
weather_data_df.head()

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,ABSOLUTE_ROWNUMBER
0,866322,CARTERET CO.,TRUTTNEYS LNDG,11/1/2019,15,Tornado,,EF0,0,0,...,1,NNW,TRUTTNEYS LNDG,34.7394,-77.1094,34.7411,-77.1053,A brief tornado occurred near the intersection...,A strong cold front moved across Eastern North...,1
1,859389,MARTIN CO.,WAVELAND,11/5/2019,1620,Tornado,,EF0,0,0,...,2,ENE,WAVELAND,27.2140,-80.1729,27.2123,-80.1766,Martin County Beach Patrol reported a waterspo...,A strong thunderstorm produced a waterspout ju...,2
2,864077,MOBILE CO.,PRICHARD,11/7/2019,1335,Tornado,,EF0,0,0,...,0,SSE,PRICHARD,30.7248,-88.0548,30.7260,-88.0486,The storm survey team surveyed the areas aroun...,Thunderstorms moved across the area during the...,3
3,857862,FRANKLIN PAR.,BASKIN,11/26/2019,1803,Tornado,,EF2,1,1,...,4,NE,BASKIN,32.2351,-91.7783,32.3184,-91.7095,This tornado began on Roger Miller Road as it ...,"Warm, moist air was in place across northeast ...",4
4,857944,CLAIBORNE PAR.,MAHAN,11/26/2019,1820,Tornado,,EF1,0,0,...,2,NNE,MAHAN,32.9017,-93.0423,32.9076,-93.0343,An EF-1 tornado with estimated maximum winds a...,A deep southwesterly flow aloft ahead of a lar...,5

In [204]:
tornado_df = weather_data_df.loc[:,["BEGIN_LOCATION", "STATE_ABBR", "BEGIN_DATE", "EVENT_TYPE", "TOR_F_SCALE", "DEATHS_DIRECT", "BEGIN_LAT", "BEGIN_LON", "END_LOCATION"]]
tornado_df.head()

,BEGIN_LOCATION,STATE_ABBR,BEGIN_DATE,EVENT_TYPE,TOR_F_SCALE,DEATHS_DIRECT,BEGIN_LAT,BEGIN_LON,END_LOCATION
0,TRUTTNEYS LNDG,NC,11/1/2019,Tornado,EF0,0,34.7394,-77.1094,TRUTTNEYS LNDG
1,WAVELAND,FL,11/5/2019,Tornado,EF0,0,27.2140,-80.1729,WAVELAND
2,PRICHARD,AL,11/7/2019,Tornado,EF0,0,30.7248,-88.0548,PRICHARD
3,BASKIN,LA,11/26/2019,Tornado,EF2,1,32.2351,-91.7783,BASKIN
4,MAHAN,LA,11/26/2019,Tornado,EF1,0,32.9017,-93.0423,MAHAN

In [205]:
gmaps.configure(api_key = weather_key)

In [206]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

538

In [207]:
for index, row in tornado_df.iterrows():
    base_url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=04c41275fea3e8291170fd88095dde0f"
    beg_lat= row['BEGIN_LAT']
    beg_lon= row['BEGIN_LON']

In [208]:
tornado_df = tornado_df.rename(columns={"BEGIN_LOCATION": "City", "BEGIN_LAT":"Lat", "BEGIN_LON":"Lng", "BEGIN_DATE": "Date"})
tornado_df.head()

,City,STATE_ABBR,Date,EVENT_TYPE,TOR_F_SCALE,DEATHS_DIRECT,Lat,Lng,END_LOCATION
0,TRUTTNEYS LNDG,NC,11/1/2019,Tornado,EF0,0,34.7394,-77.1094,TRUTTNEYS LNDG
1,WAVELAND,FL,11/5/2019,Tornado,EF0,0,27.2140,-80.1729,WAVELAND
2,PRICHARD,AL,11/7/2019,Tornado,EF0,0,30.7248,-88.0548,PRICHARD
3,BASKIN,LA,11/26/2019,Tornado,EF2,1,32.2351,-91.7783,BASKIN
4,MAHAN,LA,11/26/2019,Tornado,EF1,0,32.9017,-93.0423,MAHAN

In [209]:
cities_lat_lng = requests.get(base_url)

In [210]:
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=04c41275fea3e8291170fd88095dde0f"
# List of city data
city_data = []
# Print to logger
print("Beginning Data Retrieval     ")
print("-----------------------------")
# Create counters
record_count = 1
set_count = 1
# Loop through all the cities in our list
for x, city in enumerate(cities):
    # Group cities in sets of 50 for logging purposes
    if (x % 50 == 0 and x >= 50):
        set_count += 1
        record_count = 0
    # Create endpoint URL with each city
    city_url = url + "&q=" + city
    # Log the url, record, and set numbers
    print("Processing Record %s of Set %s | %s" % (record_count, set_count, city))
    # Add 1 to the record count
    record_count += 1
    # Run an API request for each of the cities
    try:
        # Parse the JSON and retrieve data
        city_weather = requests.get(city_url).json()
        # Parse out the max temp, humidity, and cloudiness
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        city_date = city_weather["dt"]
        # Append the City information into city_data list
        city_data.append({"City": city, 
                          "Lat": city_lat, 
                          "Lng": city_lng, 
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})
    # If an error is experienced, skip the city
    except:
        print("City not found. Skipping...")
        pass
# Indicate that Data Loading is complete 
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | tucumcari
Processing Record 2 of Set 1 | la ronge
Processing Record 3 of Set 1 | selma
Processing Record 4 of Set 1 | banes
Processing Record 5 of Set 1 | pendleton
Processing Record 6 of Set 1 | haines junction
Processing Record 7 of Set 1 | madison
Processing Record 8 of Set 1 | edson
Processing Record 9 of Set 1 | meadow lake
Processing Record 10 of Set 1 | guerrero negro
Processing Record 11 of Set 1 | middlebury
Processing Record 12 of Set 1 | kodiak
Processing Record 13 of Set 1 | cockburn town
Processing Record 14 of Set 1 | prince george
Processing Record 15 of Set 1 | north bend
Processing Record 16 of Set 1 | san quintin
Processing Record 17 of Set 1 | conroe
Processing Record 18 of Set 1 | fort nelson
Processing Record 19 of Set 1 | hilo
Processing Record 20 of Set 1 | attawapiskat
City not found. Skipping...
Processing Record 21 of Set 1 | half moon bay
Processing Record 22 of Set 1 | kahului
Processing Record 23 of Set 1 | pacific grove
Processing Record 24 of Set 1 | palmer
Processing Record 25 of Set 1 | hoquiam
Processing Record 26 of Set 1 | grants
Processing Record 27 of Set 1 | havelock
Processing Record 28 of Set 1 | ukiah
Processing Record 29 of Set 1 | thompson
Processing Record 30 of Set 1 | iqaluit
Processing Record 31 of Set 1 | kapaa
Processing Record 32 of Set 1 | geraldton
Processing Record 33 of Set 1 | mayo
Processing Record 34 of Set 1 | flagstaff
Processing Record 35 of Set 1 | hope
Processing Record 36 of Set 1 | sitka
Processing Record 37 of Set 1 | lompoc
Processing Record 38 of Set 1 | ketchikan
Processing Record 39 of Set 1 | slave lake
Processing Record 40 of Set 1 | gimli
Processing Record 41 of Set 1 | prince albert
Processing Record 42 of Set 1 | socorro
Processing Record 43 of Set 1 | marsh harbour
Processing Record 44 of Set 1 | port-cartier
Processing Record 45 of Set 1 | jacksonville
Processing Record 46 of Set 1 | padilla
Processing Record 47 of Set 1 | port hardy
Processing Record 48 of Set 1 | nuevitas
Processing Record 49 of Set 1 | shelburne
Processing Record 50 of Set 1 | malibu
Processing Record 0 of Set 2 | chapais
Processing Record 1 of Set 2 | key largo
Processing Record 2 of Set 2 | panama city
Processing Record 3 of Set 2 | fairbanks
Processing Record 4 of Set 2 | freeport
Processing Record 5 of Set 2 | little chute
Processing Record 6 of Set 2 | the hammocks
Processing Record 7 of Set 2 | haysville
Processing Record 8 of Set 2 | evanston
Processing Record 9 of Set 2 | mantua
Processing Record 10 of Set 2 | whitehorse
Processing Record 11 of Set 2 | devils lake
Processing Record 12 of Set 2 | cockburn harbour
City not found. Skipping...
Processing Record 13 of Set 2 | lanigan
Processing Record 14 of Set 2 | andros town
Processing Record 15 of Set 2 | lamar
Processing Record 16 of Set 2 | tayoltita
Processing Record 17 of Set 2 | pineville
Processing Record 18 of Set 2 | kenai
Processing Record 19 of Set 2 | roblin
Processing Record 20 of Set 2 | degollado
Processing Record 21 of Set 2 | glendive
Processing Record 22 of Set 2 | winnemucca
Processing Record 23 of Set 2 | newport
Processing Record 24 of Set 2 | cortez
Processing Record 25 of Set 2 | flin flon
Processing Record 26 of Set 2 | elk city
Processing Record 27 of Set 2 | yarmouth
Processing Record 28 of Set 2 | eureka
Processing Record 29 of Set 2 | jaguey grande
Processing Record 30 of Set 2 | great bend
Processing Record 31 of Set 2 | yeehaw junction
City not found. Skipping...
Processing Record 32 of Set 2 | yankton
Processing Record 33 of Set 2 | seminole
Processing Record 34 of Set 2 | tyler
Processing Record 35 of Set 2 | helena
Processing Record 36 of Set 2 | sidney
Processing Record 37 of Set 2 | kitimat
Processing Record 38 of Set 2 | key west
Processing Record 39 of Set 2 | estelle
Processing Record 40 of Set 2 | morro bay
Processing Record 41 of Set 2 | kingman
Processing Record 42 of Set 2 | sept-iles
Processing Record 43 of Set 2 | irricana
Processing Record 44 of Set 2 | staunton
Processing Record 45 of Set 2 | fortuna
Processing Record 46 of Set 2 | johnson city
Processing Record 47 of Set 2 | matamoros
Processing Record 48 of Set 2 | laramie
Processing Record 49 of Set 2 | spearfish
Processing Record 0 of Set 3 | smithers
Processing Record 1 of Set 3 | new castle
Processing Record 2 of Set 3 | lake charles
Processing Record 3 of Set 3 | chico
Processing Record 4 of Set 3 | kankakee
Processing Record 5 of Set 3 | dunn
Processing Record 6 of Set 3 | forestville
Processing Record 7 of Set 3 | jamestown
Processing Record 8 of Set 3 | cochrane
Processing Record 9 of Set 3 | sioux lookout
Processing Record 10 of Set 3 | harwich
Processing Record 11 of Set 3 | isla mujeres
Processing Record 12 of Set 3 | lebanon
Processing Record 13 of Set 3 | elko
Processing Record 14 of Set 3 | athabasca
Processing Record 15 of Set 3 | durant
Processing Record 16 of Set 3 | lillooet
Processing Record 17 of Set 3 | lake mary
Processing Record 18 of Set 3 | charlottesville
Processing Record 19 of Set 3 | warren
Processing Record 20 of Set 3 | livingston
Processing Record 21 of Set 3 | alamosa
Processing Record 22 of Set 3 | mount pleasant
Processing Record 23 of Set 3 | brewster
Processing Record 24 of Set 3 | bloomington
Processing Record 25 of Set 3 | coos bay
Processing Record 26 of Set 3 | panaba
Processing Record 27 of Set 3 | gillette
Processing Record 28 of Set 3 | ojinaga
Processing Record 29 of Set 3 | elliot lake
Processing Record 30 of Set 3 | bowling green
Processing Record 31 of Set 3 | burlington
Processing Record 32 of Set 3 | hopatcong
Processing Record 33 of Set 3 | big spring
Processing Record 34 of Set 3 | owen sound
Processing Record 35 of Set 3 | norman wells
Processing Record 36 of Set 3 | san luis
Processing Record 37 of Set 3 | bar harbor
Processing Record 38 of Set 3 | quesnel
Processing Record 39 of Set 3 | saint george
Processing Record 40 of Set 3 | preston
Processing Record 41 of Set 3 | antonio escobedo
Processing Record 42 of Set 3 | alpena
Processing Record 43 of Set 3 | shellbrook
Processing Record 44 of Set 3 | benjamin hill
Processing Record 45 of Set 3 | yellowknife
Processing Record 46 of Set 3 | macamic
Processing Record 47 of Set 3 | redmond
Processing Record 48 of Set 3 | xicotencatl
Processing Record 49 of Set 3 | lima
Processing Record 0 of Set 4 | hamilton
Processing Record 1 of Set 4 | north battleford
Processing Record 2 of Set 4 | constitucion
Processing Record 3 of Set 4 | providencia
Processing Record 4 of Set 4 | panuco
Processing Record 5 of Set 4 | alexandria
Processing Record 6 of Set 4 | grand centre
City not found. Skipping...
Processing Record 7 of Set 4 | nieves
Processing Record 8 of Set 4 | milverton
Processing Record 9 of Set 4 | campbell river
Processing Record 10 of Set 4 | north tonawanda
Processing Record 11 of Set 4 | nantucket
Processing Record 12 of Set 4 | placetas
Processing Record 13 of Set 4 | whitecourt
Processing Record 14 of Set 4 | brandon
Processing Record 15 of Set 4 | chambersburg
Processing Record 16 of Set 4 | mackenzie
Processing Record 17 of Set 4 | baie-comeau
Processing Record 18 of Set 4 | lovington
Processing Record 19 of Set 4 | moose factory
Processing Record 20 of Set 4 | dryden
Processing Record 21 of Set 4 | ucluelet
Processing Record 22 of Set 4 | saint andrews
Processing Record 23 of Set 4 | altamont
Processing Record 24 of Set 4 | avon lake
Processing Record 25 of Set 4 | santa fe
Processing Record 26 of Set 4 | juneau
Processing Record 27 of Set 4 | celestun
Processing Record 28 of Set 4 | provost
Processing Record 29 of Set 4 | manitouwadge
Processing Record 30 of Set 4 | sonoita
Processing Record 31 of Set 4 | humboldt
Processing Record 32 of Set 4 | hereford
Processing Record 33 of Set 4 | tamiahua
Processing Record 34 of Set 4 | vernon
Processing Record 35 of Set 4 | beamsville
Processing Record 36 of Set 4 | nanton
Processing Record 37 of Set 4 | hay river
Processing Record 38 of Set 4 | starkville
Processing Record 39 of Set 4 | havre
Processing Record 40 of Set 4 | morris
Processing Record 41 of Set 4 | fergus falls
Processing Record 42 of Set 4 | matagami

Processing Record 43 of Set 4 | great falls
Processing Record 44 of Set 4 | campechuela
Processing Record 45 of Set 4 | show low
Processing Record 46 of Set 4 | rockport
Processing Record 47 of Set 4 | enid
Processing Record 48 of Set 4 | high level
Processing Record 49 of Set 4 | cedar city
Processing Record 0 of Set 5 | moberly
Processing Record 1 of Set 5 | abilene
Processing Record 2 of Set 5 | brigantine
Processing Record 3 of Set 5 | valentin gomez farias
Processing Record 4 of Set 5 | bucerias
Processing Record 5 of Set 5 | russellville
Processing Record 6 of Set 5 | pittsfield
Processing Record 7 of Set 5 | sheridan
Processing Record 8 of Set 5 | seguin
Processing Record 9 of Set 5 | canon city
Processing Record 10 of Set 5 | ville-marie
Processing Record 11 of Set 5 | prince rupert
Processing Record 12 of Set 5 | batavia
Processing Record 13 of Set 5 | el sauzal
Processing Record 14 of Set 5 | dzilam gonzalez
Processing Record 15 of Set 5 | aberdeen
Processing Record 16 of Set 5 | alamos
Processing Record 17 of Set 5 | bloomingdale
Processing Record 18 of Set 5 | key biscayne
Processing Record 19 of Set 5 | lac-megantic
Processing Record 20 of Set 5 | eldorado
Processing Record 21 of Set 5 | brenham
Processing Record 22 of Set 5 | woodward
Processing Record 23 of Set 5 | hurricane
Processing Record 24 of Set 5 | merrill
Processing Record 25 of Set 5 | hanover
Processing Record 26 of Set 5 | spirit river
Processing Record 27 of Set 5 | natchitoches
Processing Record 28 of Set 5 | manassas
Processing Record 29 of Set 5 | vero beach
Processing Record 30 of Set 5 | houston
Processing Record 31 of Set 5 | atlantic city
Processing Record 32 of Set 5 | chapleau
Processing Record 33 of Set 5 | sturgis
Processing Record 34 of Set 5 | valleyview
Processing Record 35 of Set 5 | montrose
Processing Record 36 of Set 5 | kamsack
Processing Record 37 of Set 5 | gloversville
Processing Record 38 of Set 5 | campbellsville
Processing Record 39 of Set 5 | washougal
Processing Record 40 of Set 5 | greece
Processing Record 41 of Set 5 | roberval
Processing Record 42 of Set 5 | safford
Processing Record 43 of Set 5 | clarence town
Processing Record 44 of Set 5 | rawlins
Processing Record 45 of Set 5 | mattawa
Processing Record 46 of Set 5 | huron
Processing Record 47 of Set 5 | drumheller
Processing Record 48 of Set 5 | jerome
Processing Record 49 of Set 5 | yazoo city
Processing Record 0 of Set 6 | osoyoos
Processing Record 1 of Set 6 | steamboat springs
Processing Record 2 of Set 6 | blairmore
Processing Record 3 of Set 6 | rockland
Processing Record 4 of Set 6 | nipawin
Processing Record 5 of Set 6 | opichen
Processing Record 6 of Set 6 | escanaba
Processing Record 7 of Set 6 | bayonet point
Processing Record 8 of Set 6 | progreso
Processing Record 9 of Set 6 | hauterive
Processing Record 10 of Set 6 | asheboro
Processing Record 11 of Set 6 | sunrise manor
Processing Record 12 of Set 6 | ontario
Processing Record 13 of Set 6 | jackson
Processing Record 14 of Set 6 | wooster
Processing Record 15 of Set 6 | hanna
Processing Record 16 of Set 6 | abbeville
Processing Record 17 of Set 6 | mastic beach
Processing Record 18 of Set 6 | todos santos
Processing Record 19 of Set 6 | west richland
Processing Record 20 of Set 6 | tallahassee
Processing Record 21 of Set 6 | lancaster
Processing Record 22 of Set 6 | rancho palos verdes
Processing Record 23 of Set 6 | thunder bay
Processing Record 24 of Set 6 | fairview
Processing Record 25 of Set 6 | sterling
Processing Record 26 of Set 6 | brownwood
Processing Record 27 of Set 6 | weiser
Processing Record 28 of Set 6 | saint-gabriel
Processing Record 29 of Set 6 | kincardine
Processing Record 30 of Set 6 | farmington
Processing Record 31 of Set 6 | fernandina beach
Processing Record 32 of Set 6 | springfield
Processing Record 33 of Set 6 | chicago
Processing Record 34 of Set 6 | kennett
Processing Record 35 of Set 6 | sturgeon bay
Processing Record 36 of Set 6 | sabinas
Processing Record 37 of Set 6 | long beach
Processing Record 38 of Set 6 | greenwood village
Processing Record 39 of Set 6 | guane
Processing Record 40 of Set 6 | pacifica
Processing Record 41 of Set 6 | lumsden
Processing Record 42 of Set 6 | olean
Processing Record 43 of Set 6 | valle de guadalupe
Processing Record 44 of Set 6 | saint augustine
Processing Record 45 of Set 6 | swan river
Processing Record 46 of Set 6 | nuevo progreso
Processing Record 47 of Set 6 | canton
Processing Record 48 of Set 6 | champaign
Processing Record 49 of Set 6 | parsons
Processing Record 0 of Set 7 | arkansas city
Processing Record 1 of Set 7 | burns lake
Processing Record 2 of Set 7 | laurel
Processing Record 3 of Set 7 | douglas
Processing Record 4 of Set 7 | west wendover
Processing Record 5 of Set 7 | forest grove
Processing Record 6 of Set 7 | two hills
Processing Record 7 of Set 7 | nanticoke
Processing Record 8 of Set 7 | indiana
Processing Record 9 of Set 7 | atikokan
Processing Record 10 of Set 7 | barrhead
Processing Record 11 of Set 7 | lac du bonnet
Processing Record 12 of Set 7 | la trinidad
Processing Record 13 of Set 7 | fallon
Processing Record 14 of Set 7 | ocampo
Processing Record 15 of Set 7 | la sarre
Processing Record 16 of Set 7 | houma
Processing Record 17 of Set 7 | baker city
Processing Record 18 of Set 7 | morristown
Processing Record 19 of Set 7 | hearst
Processing Record 20 of Set 7 | west fargo
Processing Record 21 of Set 7 | greenwood
Processing Record 22 of Set 7 | forrest city
Processing Record 23 of Set 7 | traverse city
Processing Record 24 of Set 7 | grenfell
Processing Record 25 of Set 7 | del rio
Processing Record 26 of Set 7 | north branch
Processing Record 27 of Set 7 | evans
Processing Record 28 of Set 7 | deep river
Processing Record 29 of Set 7 | rio bravo
Processing Record 30 of Set 7 | muskogee
Processing Record 31 of Set 7 | baracoa
Processing Record 32 of Set 7 | godfrey
Processing Record 33 of Set 7 | rathdrum
Processing Record 34 of Set 7 | polson
Processing Record 35 of Set 7 | lower burrell
Processing Record 36 of Set 7 | morgan city
Processing Record 37 of Set 7 | thomaston
Processing Record 38 of Set 7 | isla vista
Processing Record 39 of Set 7 | williamsburg
Processing Record 40 of Set 7 | truckee
Processing Record 41 of Set 7 | brookings
Processing Record 42 of Set 7 | albanel
Processing Record 43 of Set 7 | ures
Processing Record 44 of Set 7 | moctezuma
Processing Record 45 of Set 7 | adolfo lopez mateos
Processing Record 46 of Set 7 | belle fourche
Processing Record 47 of Set 7 | north myrtle beach
Processing Record 48 of Set 7 | san felipe
Processing Record 49 of Set 7 | jennings
Processing Record 0 of Set 8 | stoughton
Processing Record 1 of Set 8 | mazatlan
Processing Record 2 of Set 8 | notre-dame-du-lac
Processing Record 3 of Set 8 | ahuimanu
Processing Record 4 of Set 8 | garden city
Processing Record 5 of Set 8 | oromocto
Processing Record 6 of Set 8 | pierre
Processing Record 7 of Set 8 | hibbing
Processing Record 8 of Set 8 | north aurora
Processing Record 9 of Set 8 | martin
Processing Record 10 of Set 8 | dunnville
Processing Record 11 of Set 8 | cozumel
Processing Record 12 of Set 8 | chute-aux-outardes
Processing Record 13 of Set 8 | brookhaven
Processing Record 14 of Set 8 | belgrade
Processing Record 15 of Set 8 | les escoumins
Processing Record 16 of Set 8 | senneterre
Processing Record 17 of Set 8 | cerano
Processing Record 18 of Set 8 | desbiens
Processing Record 19 of Set 8 | racine
Processing Record 20 of Set 8 | warrington
Processing Record 21 of Set 8 | marquette
Processing Record 22 of Set 8 | plymouth
Processing Record 23 of Set 8 | new lenox
Processing Record 24 of Set 8 | rock springs
Processing Record 25 of Set 8 | marathon
Processing Record 26 of Set 8 | terrace
Processing Record 27 of Set 8 | rupert
Processing Record 28 of Set 8 | one hundred mile house
City not found. Skipping...
Processing Record 29 of Set 8 | santa cruz del sur
Processing Record 30 of Set 8 | susanville
Processing Record 31 of Set 8 | hayden
Processing Record 32 of Set 8 | plainview
Processing Record 33 of Set 8 | healdsburg
Processing Record 34 of Set 8 | lampazos de naranjo
Processing Record 35 of Set 8 | longlac
City not found. Skipping...
Processing Record 36 of Set 8 | hudson bay

Processing Record 37 of Set 8 | ridgecrest
Processing Record 38 of Set 8 | ozark
Processing Record 39 of Set 8 | black forest
Processing Record 40 of Set 8 | cape canaveral
Processing Record 41 of Set 8 | toppenish
Processing Record 42 of Set 8 | georgetown
Processing Record 43 of Set 8 | jasper
Processing Record 44 of Set 8 | fort smith
Processing Record 45 of Set 8 | crossfield
Processing Record 46 of Set 8 | el centro
Processing Record 47 of Set 8 | mitchell
Processing Record 48 of Set 8 | vega de alatorre
Processing Record 49 of Set 8 | high prairie
Processing Record 0 of Set 9 | tierranueva
Processing Record 1 of Set 9 | altoona
Processing Record 2 of Set 9 | bathurst
Processing Record 3 of Set 9 | bismarck
Processing Record 4 of Set 9 | miramar
Processing Record 5 of Set 9 | muskegon
Processing Record 6 of Set 9 | rancho cucamonga
Processing Record 7 of Set 9 | parker
Processing Record 8 of Set 9 | bainbridge
Processing Record 9 of Set 9 | whitefish
Processing Record 10 of Set 9 | charleston
Processing Record 11 of Set 9 | nautla
Processing Record 12 of Set 9 | fort saint john
City not found. Skipping...
Processing Record 13 of Set 9 | rome
Processing Record 14 of Set 9 | grand forks
Processing Record 15 of Set 9 | virginia beach
Processing Record 16 of Set 9 | kerrville
Processing Record 17 of Set 9 | liniere
City not found. Skipping...
Processing Record 18 of Set 9 | creel
Processing Record 19 of Set 9 | bay city
Processing Record 20 of Set 9 | gallup
Processing Record 21 of Set 9 | columbus
Processing Record 22 of Set 9 | winslow
Processing Record 23 of Set 9 | fort saint james
Processing Record 24 of Set 9 | san buenaventura
Processing Record 25 of Set 9 | torrington
Processing Record 26 of Set 9 | pemberton
Processing Record 27 of Set 9 | sturgeon falls
Processing Record 28 of Set 9 | wenatchee
Processing Record 29 of Set 9 | tlahualilo
City not found. Skipping...
Processing Record 30 of Set 9 | la tuque
Processing Record 31 of Set 9 | rapid city
Processing Record 32 of Set 9 | matehuala
Processing Record 33 of Set 9 | midland
Processing Record 34 of Set 9 | mount airy
Processing Record 35 of Set 9 | alamogordo
Processing Record 36 of Set 9 | sumter
Processing Record 37 of Set 9 | snyder
Processing Record 38 of Set 9 | salinas
Processing Record 39 of Set 9 | sahuaripa
Processing Record 40 of Set 9 | teacapan
Processing Record 41 of Set 9 | bozeman
Processing Record 42 of Set 9 | newton
Processing Record 43 of Set 9 | newark
Processing Record 44 of Set 9 | dickinson
Processing Record 45 of Set 9 | san fernando
Processing Record 46 of Set 9 | nueva gerona
Processing Record 47 of Set 9 | loiza
Processing Record 48 of Set 9 | davidson
Processing Record 49 of Set 9 | roswell
Processing Record 0 of Set 10 | preeceville
Processing Record 1 of Set 10 | cheyenne
Processing Record 2 of Set 10 | high rock
Processing Record 3 of Set 10 | meridian
Processing Record 4 of Set 10 | bluefield
Processing Record 5 of Set 10 | richland
Processing Record 6 of Set 10 | amos
Processing Record 7 of Set 10 | rialto
Processing Record 8 of Set 10 | san angelo
Processing Record 9 of Set 10 | wilmington
Processing Record 10 of Set 10 | marin
Processing Record 11 of Set 10 | los zacatones
Processing Record 12 of Set 10 | beaverlodge
Processing Record 13 of Set 10 | mulege
Processing Record 14 of Set 10 | el campo
Processing Record 15 of Set 10 | gravelbourg
Processing Record 16 of Set 10 | kindersley
Processing Record 17 of Set 10 | cody
Processing Record 18 of Set 10 | republic
Processing Record 19 of Set 10 | espanola
Processing Record 20 of Set 10 | uvalde
Processing Record 21 of Set 10 | brawley
Processing Record 22 of Set 10 | powell
Processing Record 23 of Set 10 | leona vicario
Processing Record 24 of Set 10 | la paz
Processing Record 25 of Set 10 | las tunas
Processing Record 26 of Set 10 | seymour
Processing Record 27 of Set 10 | superior
Processing Record 28 of Set 10 | beeville
Processing Record 29 of Set 10 | lethbridge
Processing Record 30 of Set 10 | mason city
Processing Record 31 of Set 10 | sicamous
Processing Record 32 of Set 10 | wembley
Processing Record 33 of Set 10 | campbellton
Processing Record 34 of Set 10 | dzidzantun
Processing Record 35 of Set 10 | ascension
Processing Record 36 of Set 10 | moultonborough
Processing Record 37 of Set 10 | cocorit
Processing Record 38 of Set 10 | camalu
Processing Record 39 of Set 10 | puga
Processing Record 40 of Set 10 | reynosa
Processing Record 41 of Set 10 | southaven
Processing Record 42 of Set 10 | billings
Processing Record 43 of Set 10 | scotch plains
Processing Record 44 of Set 10 | west odessa
Processing Record 45 of Set 10 | canmore
Processing Record 46 of Set 10 | iroquois falls
Processing Record 47 of Set 10 | greencastle
Processing Record 48 of Set 10 | san juan
Processing Record 49 of Set 10 | cudahy
Processing Record 0 of Set 11 | minot
Processing Record 1 of Set 11 | weyburn
Processing Record 2 of Set 11 | brownsville
Processing Record 3 of Set 11 | willmar
Processing Record 4 of Set 11 | exeter
Processing Record 5 of Set 11 | homer
Processing Record 6 of Set 11 | pinawa
Processing Record 7 of Set 11 | glenwood springs
Processing Record 8 of Set 11 | waverly
Processing Record 9 of Set 11 | mims
Processing Record 10 of Set 11 | ahome
Processing Record 11 of Set 11 | peace river
Processing Record 12 of Set 11 | washington
Processing Record 13 of Set 11 | chippewa falls
Processing Record 14 of Set 11 | carlisle
Processing Record 15 of Set 11 | hutchinson
Processing Record 16 of Set 11 | taber
Processing Record 17 of Set 11 | moron
Processing Record 18 of Set 11 | grafton
Processing Record 19 of Set 11 | coronado
Processing Record 20 of Set 11 | ferme-neuve
Processing Record 21 of Set 11 | huntsville
Processing Record 22 of Set 11 | athens
Processing Record 23 of Set 11 | tooele
Processing Record 24 of Set 11 | terrace bay
Processing Record 25 of Set 11 | brainerd
Processing Record 26 of Set 11 | kirksville
Processing Record 27 of Set 11 | moscow
Processing Record 28 of Set 11 | ann arbor
Processing Record 29 of Set 11 | bow island
Processing Record 30 of Set 11 | hidalgo
Processing Record 31 of Set 11 | dolbeau
City not found. Skipping...
Processing Record 32 of Set 11 | north platte
Processing Record 33 of Set 11 | buckeye
Processing Record 34 of Set 11 | hornepayne
Processing Record 35 of Set 11 | wasilla
Processing Record 36 of Set 11 | bagotville
Processing Record 37 of Set 11 | aylmer
-----------------------------
Data Retrieval Complete
-----------------------------

In [211]:
# Export the City_Data into a csv
city_data_pd.to_csv(output_data_file, index_label="City")

In [212]:
city_data_pd = pd.DataFrame(city_data)
city_data_pd.count()

City          528
Lat           528
Lng           528
Max Temp      528
Humidity      528
Cloudiness    528
Wind Speed    528
Country       528
Date          528
dtype: int64

In [213]:
city_data_pd.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,tucumcari,35.1717,-103.7250,48.20,93,75,16.11,US,1615664143
1,la ronge,55.1001,-105.2842,30.20,50,2,8.05,CA,1615664144
2,selma,36.5708,-119.6121,63.00,47,1,3.44,US,1615664101
3,banes,20.9625,-75.7186,84.20,54,40,16.11,CU,1615664144
4,pendleton,45.6721,-118.7886,55.99,43,1,6.91,US,1615663934

In [214]:
america_city = city_data_pd[(city_data_pd["Country"]=="US")]
america_city

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,tucumcari,35.1717,-103.7250,48.20,93,75,16.11,US,1615664143
2,selma,36.5708,-119.6121,63.00,47,1,3.44,US,1615664101
4,pendleton,45.6721,-118.7886,55.99,43,1,6.91,US,1615663934
6,madison,34.7334,-86.5667,75.00,64,90,5.28,US,1615664145
8,meadow lake,34.8014,-106.5436,48.00,31,75,16.11,US,1615664146
...,...,...,...,...,...,...,...,...,...
517,kirksville,40.1948,-92.5833,57.99,41,1,14.97,US,1615664185
519,ann arbor,42.2776,-83.7409,48.99,23,1,8.05,US,1615664156
522,north platte,41.1239,-100.7654,39.20,87,90,12.66,US,1615664132
523,buckeye,33.3703,-112.5838,60.01,48,94,3.00,US,1615664286
525,wasilla,61.5814,-149.4394,12.00,61,1,1.99,US,1615664287

In [215]:
tornado_df2=tornado_df.copy()

In [216]:
tornado_df["City"] = tornado_df["City"].str.lower()
tornado_df

,City,STATE_ABBR,Date,EVENT_TYPE,TOR_F_SCALE,DEATHS_DIRECT,Lat,Lng,END_LOCATION
0,truttneys lndg,NC,11/1/2019,Tornado,EF0,0,34.7394,-77.1094,TRUTTNEYS LNDG
1,waveland,FL,11/5/2019,Tornado,EF0,0,27.2140,-80.1729,WAVELAND
2,prichard,AL,11/7/2019,Tornado,EF0,0,30.7248,-88.0548,PRICHARD
3,baskin,LA,11/26/2019,Tornado,EF2,1,32.2351,-91.7783,BASKIN
4,mahan,LA,11/26/2019,Tornado,EF1,0,32.9017,-93.0423,MAHAN
...,...,...,...,...,...,...,...,...,...
495,lamont,GA,4/13/2020,Tornado,EF0,0,32.9896,-84.1225,LAMONT
496,red oak,GA,4/13/2020,Tornado,EF0,0,33.6288,-84.5263,RED OAK
497,collier,GA,4/13/2020,Tornado,EF3,0,33.0298,-84.0330,BRIGHTON MILLS
498,roberts xrds,GA,4/13/2020,Tornado,EF0,0,33.4560,-83.6449,ROBERTS XRDS
499,raoul,GA,4/13/2020,Tornado,EF1,0,34.4590,-83.6350,CORNLIA HBRSHAM ARPT

In [217]:
america_city.City = america_city.City.astype(str)
tornado_df.City = tornado_df.City.astype(str)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [228]:
concat_df=pd.concat([tornado_df.set_index("City"), america_city.set_index("City")], join="outer")
concat_df

,STATE_ABBR,Date,EVENT_TYPE,TOR_F_SCALE,DEATHS_DIRECT,Lat,Lng,END_LOCATION,Max Temp,Humidity,Cloudiness,Wind Speed,Country
City,,,,,,,,,,,,,
truttneys lndg,NC,11/1/2019,Tornado,EF0,0.0,34.7394,-77.1094,TRUTTNEYS LNDG,NaN,NaN,NaN,NaN,NaN
waveland,FL,11/5/2019,Tornado,EF0,0.0,27.2140,-80.1729,WAVELAND,NaN,NaN,NaN,NaN,NaN
prichard,AL,11/7/2019,Tornado,EF0,0.0,30.7248,-88.0548,PRICHARD,NaN,NaN,NaN,NaN,NaN
baskin,LA,11/26/2019,Tornado,EF2,1.0,32.2351,-91.7783,BASKIN,NaN,NaN,NaN,NaN,NaN
mahan,LA,11/26/2019,Tornado,EF1,0.0,32.9017,-93.0423,MAHAN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
kirksville,NaN,1615664185,NaN,NaN,NaN,40.1948,-92.5833,NaN,57.99,41.0,1.0,14.97,US
ann arbor,NaN,1615664156,NaN,NaN,NaN,42.2776,-83.7409,NaN,48.99,23.0,1.0,8.05,US
north platte,NaN,1615664132,NaN,NaN,NaN,41.1239,-100.7654,NaN,39.20,87.0,90.0,12.66,US
buckeye,NaN,1615664286,NaN,NaN,NaN,33.3703,-112.5838,NaN,60.01,48.0,94.0,3.00,US
wasilla,NaN,1615664287,NaN,NaN,NaN,61.5814,-149.4394,NaN,12.00,61.0,1.0,1.99,US

In [233]:
concat_df["Date"]=(pd.to_datetime(concat_df["Date"]))
concat_df

,STATE_ABBR,Date,EVENT_TYPE,TOR_F_SCALE,DEATHS_DIRECT,Lat,Lng,END_LOCATION,Max Temp,Humidity,Cloudiness,Wind Speed,Country
City,,,,,,,,,,,,,
truttneys lndg,NC,2019-01-11,Tornado,EF0,0.0,34.7394,-77.1094,TRUTTNEYS LNDG,NaN,NaN,NaN,NaN,NaN
waveland,FL,2019-05-11,Tornado,EF0,0.0,27.2140,-80.1729,WAVELAND,NaN,NaN,NaN,NaN,NaN
prichard,AL,2019-07-11,Tornado,EF0,0.0,30.7248,-88.0548,PRICHARD,NaN,NaN,NaN,NaN,NaN
baskin,LA,2019-11-26,Tornado,EF2,1.0,32.2351,-91.7783,BASKIN,NaN,NaN,NaN,NaN,NaN
mahan,LA,2019-11-26,Tornado,EF1,0.0,32.9017,-93.0423,MAHAN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
kirksville,NaN,1970-01-01,NaN,NaN,NaN,40.1948,-92.5833,NaN,57.99,41.0,1.0,14.97,US
ann arbor,NaN,1970-01-01,NaN,NaN,NaN,42.2776,-83.7409,NaN,48.99,23.0,1.0,8.05,US
north platte,NaN,1970-01-01,NaN,NaN,NaN,41.1239,-100.7654,NaN,39.20,87.0,90.0,12.66,US
buckeye,NaN,1970-01-01,NaN,NaN,NaN,33.3703,-112.5838,NaN,60.01,48.0,94.0,3.00,US
wasilla,NaN,1970-01-01,NaN,NaN,NaN,61.5814,-149.4394,NaN,12.00,61.0,1.0,1.99,US

In [234]:
concat_df["Date"] = concat_df["Date"].map(lambda ts: ts.strftime("%m-%d-%Y"))
concat_df

,STATE_ABBR,Date,EVENT_TYPE,TOR_F_SCALE,DEATHS_DIRECT,Lat,Lng,END_LOCATION,Max Temp,Humidity,Cloudiness,Wind Speed,Country
City,,,,,,,,,,,,,
truttneys lndg,NC,01-11-2019,Tornado,EF0,0.0,34.7394,-77.1094,TRUTTNEYS LNDG,NaN,NaN,NaN,NaN,NaN
waveland,FL,05-11-2019,Tornado,EF0,0.0,27.2140,-80.1729,WAVELAND,NaN,NaN,NaN,NaN,NaN
prichard,AL,07-11-2019,Tornado,EF0,0.0,30.7248,-88.0548,PRICHARD,NaN,NaN,NaN,NaN,NaN
baskin,LA,11-26-2019,Tornado,EF2,1.0,32.2351,-91.7783,BASKIN,NaN,NaN,NaN,NaN,NaN
mahan,LA,11-26-2019,Tornado,EF1,0.0,32.9017,-93.0423,MAHAN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
kirksville,NaN,01-01-1970,NaN,NaN,NaN,40.1948,-92.5833,NaN,57.99,41.0,1.0,14.97,US
ann arbor,NaN,01-01-1970,NaN,NaN,NaN,42.2776,-83.7409,NaN,48.99,23.0,1.0,8.05,US
north platte,NaN,01-01-1970,NaN,NaN,NaN,41.1239,-100.7654,NaN,39.20,87.0,90.0,12.66,US
buckeye,NaN,01-01-1970,NaN,NaN,NaN,33.3703,-112.5838,NaN,60.01,48.0,94.0,3.00,US
wasilla,NaN,01-01-1970,NaN,NaN,NaN,61.5814,-149.4394,NaN,12.00,61.0,1.0,1.99,US

In [236]:
filteredtime_df = concat_df.loc[(concat_df["Date"] >= "11-01-2019")]
filteredtime_df

,STATE_ABBR,Date,EVENT_TYPE,TOR_F_SCALE,DEATHS_DIRECT,Lat,Lng,END_LOCATION,Max Temp,Humidity,Cloudiness,Wind Speed,Country
City,,,,,,,,,,,,,
baskin,LA,11-26-2019,Tornado,EF2,1.0,32.2351,-91.7783,BASKIN,NaN,NaN,NaN,NaN,NaN
mahan,LA,11-26-2019,Tornado,EF1,0.0,32.9017,-93.0423,MAHAN,NaN,NaN,NaN,NaN,NaN
tendal,LA,11-26-2019,Tornado,EFU,0.0,32.4565,-91.3847,WAVERLY,NaN,NaN,NaN,NaN,NaN
whites,MS,11-26-2019,Tornado,EF2,0.0,32.0586,-90.1282,ROOK HILL,NaN,NaN,NaN,NaN,NaN
johns,MS,11-27-2019,Tornado,EF1,0.0,32.1338,-89.8041,RUFUS,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
east cleveland,TN,12-04-2020,Tornado,EF1,0.0,35.1663,-84.8242,CLIMER,NaN,NaN,NaN,NaN,NaN
julian chapel,TN,12-04-2020,Tornado,EF1,0.0,35.2046,-84.7751,HAUN MILL,NaN,NaN,NaN,NaN,NaN
benton station,TN,12-04-2020,Tornado,EF0,0.0,35.2132,-84.7013,BENTON STATION,NaN,NaN,NaN,NaN,NaN
cave spg,GA,12-04-2020,Tornado,EF0,0.0,34.1239,-85.3675,VANS VLY,NaN,NaN,NaN,NaN,NaN
silver creek,GA,12-04-2020,Tornado,EF0,0.0,34.1924,-85.1735,LAVENDER,NaN,NaN,NaN,NaN,NaN