In [17]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time
from citipy import citipy

# Range of latitudes and longitudes
lat_range = (64, 20)
lng_range = (-154, -65)

# Import API key
from api_keys import weather_key

In [18]:
weather_data_df = pd.read_csv("data/tornadoes.csv")
weather_data_df.head()

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,ABSOLUTE_ROWNUMBER
0,866322,CARTERET CO.,TRUTTNEYS LNDG,11/1/2019,15,Tornado,,EF0,0,0,...,1,NNW,TRUTTNEYS LNDG,34.7394,-77.1094,34.7411,-77.1053,A brief tornado occurred near the intersection...,A strong cold front moved across Eastern North...,1
1,859389,MARTIN CO.,WAVELAND,11/5/2019,1620,Tornado,,EF0,0,0,...,2,ENE,WAVELAND,27.2140,-80.1729,27.2123,-80.1766,Martin County Beach Patrol reported a waterspo...,A strong thunderstorm produced a waterspout ju...,2
2,864077,MOBILE CO.,PRICHARD,11/7/2019,1335,Tornado,,EF0,0,0,...,0,SSE,PRICHARD,30.7248,-88.0548,30.7260,-88.0486,The storm survey team surveyed the areas aroun...,Thunderstorms moved across the area during the...,3
3,857862,FRANKLIN PAR.,BASKIN,11/26/2019,1803,Tornado,,EF2,1,1,...,4,NE,BASKIN,32.2351,-91.7783,32.3184,-91.7095,This tornado began on Roger Miller Road as it ...,"Warm, moist air was in place across northeast ...",4
4,857944,CLAIBORNE PAR.,MAHAN,11/26/2019,1820,Tornado,,EF1,0,0,...,2,NNE,MAHAN,32.9017,-93.0423,32.9076,-93.0343,An EF-1 tornado with estimated maximum winds a...,A deep southwesterly flow aloft ahead of a lar...,5

In [19]:
gmaps.configure(api_key = weather_key)

In [20]:
tornado_df = weather_data_df.loc[:,["BEGIN_LOCATION","BEGIN_LAT", "BEGIN_DATE", "EVENT_TYPE", "TOR_F_SCALE", "DEATHS_DIRECT", "END_LOCATION"]]
tornado_df

,BEGIN_LOCATION,BEGIN_LAT,BEGIN_DATE,EVENT_TYPE,TOR_F_SCALE,DEATHS_DIRECT,END_LOCATION
0,TRUTTNEYS LNDG,34.7394,11/1/2019,Tornado,EF0,0,TRUTTNEYS LNDG
1,WAVELAND,27.2140,11/5/2019,Tornado,EF0,0,WAVELAND
2,PRICHARD,30.7248,11/7/2019,Tornado,EF0,0,PRICHARD
3,BASKIN,32.2351,11/26/2019,Tornado,EF2,1,BASKIN
4,MAHAN,32.9017,11/26/2019,Tornado,EF1,0,MAHAN
...,...,...,...,...,...,...,...
495,LAMONT,32.9896,4/13/2020,Tornado,EF0,0,LAMONT
496,RED OAK,33.6288,4/13/2020,Tornado,EF0,0,RED OAK
497,COLLIER,33.0298,4/13/2020,Tornado,EF3,0,BRIGHTON MILLS
498,ROBERTS XRDS,33.4560,4/13/2020,Tornado,EF0,0,ROBERTS XRDS
499,RAOUL,34.4590,4/13/2020,Tornado,EF1,0,CORNLIA HBRSHAM ARPT

In [21]:
tornado_df = tornado_df.rename(columns={"BEGIN_LAT":"Lat"})
tornado_df.head()

,BEGIN_LOCATION,Lat,BEGIN_DATE,EVENT_TYPE,TOR_F_SCALE,DEATHS_DIRECT,END_LOCATION
0,TRUTTNEYS LNDG,34.7394,11/1/2019,Tornado,EF0,0,TRUTTNEYS LNDG
1,WAVELAND,27.2140,11/5/2019,Tornado,EF0,0,WAVELAND
2,PRICHARD,30.7248,11/7/2019,Tornado,EF0,0,PRICHARD
3,BASKIN,32.2351,11/26/2019,Tornado,EF2,1,BASKIN
4,MAHAN,32.9017,11/26/2019,Tornado,EF1,0,MAHAN

In [36]:
tornado_df = tornado_df.rename(columns={"BEGIN_LOCATION":"City"})
tornado_df.head()

,City,Lat,BEGIN_DATE,EVENT_TYPE,TOR_F_SCALE,DEATHS_DIRECT,END_LOCATION
0,TRUTTNEYS LNDG,34.7394,11/1/2019,Tornado,EF0,0,TRUTTNEYS LNDG
1,WAVELAND,27.2140,11/5/2019,Tornado,EF0,0,WAVELAND
2,PRICHARD,30.7248,11/7/2019,Tornado,EF0,0,PRICHARD
3,BASKIN,32.2351,11/26/2019,Tornado,EF2,1,BASKIN
4,MAHAN,32.9017,11/26/2019,Tornado,EF1,0,MAHAN

In [22]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

510

In [23]:
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=04c41275fea3e8291170fd88095dde0f"
# List of city data
city_data = []
# Print to logger
print("Beginning Data Retrieval     ")
print("-----------------------------")
# Create counters
record_count = 1
set_count = 1
# Loop through all the cities in our list
for x, city in enumerate(cities):
    # Group cities in sets of 50 for logging purposes
    if (x % 50 == 0 and x >= 50):
        set_count += 1
        record_count = 0
    # Create endpoint URL with each city
    city_url = url + "&q=" + city
    # Log the url, record, and set numbers
    print("Processing Record %s of Set %s | %s" % (record_count, set_count, city))
    # Add 1 to the record count
    record_count += 1
    # Run an API request for each of the cities
    try:
        # Parse the JSON and retrieve data
        city_weather = requests.get(city_url).json()
        # Parse out the max temp, humidity, and cloudiness
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        city_date = city_weather["dt"]
        # Append the City information into city_data list
        city_data.append({"City": city, 
                          "Lat": city_lat, 
                          "Lng": city_lng, 
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})
    # If an error is experienced, skip the city
    except:
        print("City not found. Skipping...")
        pass
# Indicate that Data Loading is complete 
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | flin flon
Processing Record 2 of Set 1 | high level
Processing Record 3 of Set 1 | constitucion
Processing Record 4 of Set 1 | attawapiskat
City not found. Skipping...
Processing Record 5 of Set 1 | hilo
Processing Record 6 of Set 1 | sitka
Processing Record 7 of Set 1 | guymon
Processing Record 8 of Set 1 | haines junction
Processing Record 9 of Set 1 | hay river
Processing Record 10 of Set 1 | tullahoma
Processing Record 11 of Set 1 | lampazos de naranjo
Processing Record 12 of Set 1 | prince rupert
Processing Record 13 of Set 1 | galveston
Processing Record 14 of Set 1 | huron
Processing Record 15 of Set 1 | fairbanks
Processing Record 16 of Set 1 | monclova
Processing Record 17 of Set 1 | whitchurch-stouffville
City not found. Skipping...
Processing Record 18 of Set 1 | pitiquito
Processing Record 19 of Set 1 | kodiak
Processing Record 20 of Set 1 | cloquet
Processing Record 21 of Set 1 | hamilton
Processing Record 22 of Set 1 | fort nelson
Processing Record 23 of Set 1 | fortuna
Processing Record 24 of Set 1 | port hardy
Processing Record 25 of Set 1 | virginia beach
Processing Record 26 of Set 1 | eunice
Processing Record 27 of Set 1 | rawlins
Processing Record 28 of Set 1 | thompson
Processing Record 29 of Set 1 | sand springs
Processing Record 30 of Set 1 | san quintin
Processing Record 31 of Set 1 | pacific grove
Processing Record 32 of Set 1 | merrill
Processing Record 33 of Set 1 | palmer
Processing Record 34 of Set 1 | stonewall
Processing Record 35 of Set 1 | lompoc
Processing Record 36 of Set 1 | worland
Processing Record 37 of Set 1 | matagami
Processing Record 38 of Set 1 | delta
Processing Record 39 of Set 1 | sioux lookout
Processing Record 40 of Set 1 | ukiah
Processing Record 41 of Set 1 | saint pete beach
Processing Record 42 of Set 1 | geraldton
Processing Record 43 of Set 1 | moose factory
Processing Record 44 of Set 1 | iqaluit
Processing Record 45 of Set 1 | tallahassee
Processing Record 46 of Set 1 | harwich
Processing Record 47 of Set 1 | notre-dame-du-lac
Processing Record 48 of Set 1 | abbotsford
Processing Record 49 of Set 1 | yarmouth
Processing Record 50 of Set 1 | north platte
Processing Record 0 of Set 2 | half moon bay
Processing Record 1 of Set 2 | cabo san lucas
Processing Record 2 of Set 2 | ojinaga
Processing Record 3 of Set 2 | ahuimanu
Processing Record 4 of Set 2 | nantucket
Processing Record 5 of Set 2 | rochester
Processing Record 6 of Set 2 | villa de reyes
Processing Record 7 of Set 2 | huntingdon
Processing Record 8 of Set 2 | norman wells
Processing Record 9 of Set 2 | johnstown
Processing Record 10 of Set 2 | waterloo
Processing Record 11 of Set 2 | paris
Processing Record 12 of Set 2 | benjamin hill
Processing Record 13 of Set 2 | washington
Processing Record 14 of Set 2 | redmond
Processing Record 15 of Set 2 | caronport
Processing Record 16 of Set 2 | lexington
Processing Record 17 of Set 2 | venice
Processing Record 18 of Set 2 | wilmington
Processing Record 19 of Set 2 | taber
Processing Record 20 of Set 2 | la ronge
Processing Record 21 of Set 2 | clinton
Processing Record 22 of Set 2 | mulege
Processing Record 23 of Set 2 | williams lake
Processing Record 24 of Set 2 | sahuaripa
Processing Record 25 of Set 2 | carlsbad
Processing Record 26 of Set 2 | bonaventure
Processing Record 27 of Set 2 | sexsmith
Processing Record 28 of Set 2 | port hueneme
Processing Record 29 of Set 2 | georgetown
Processing Record 30 of Set 2 | anderson
Processing Record 31 of Set 2 | anchorage
Processing Record 32 of Set 2 | brigantine
Processing Record 33 of Set 2 | cockburn town
Processing Record 34 of Set 2 | monticello
Processing Record 35 of Set 2 | north las vegas
Processing Record 36 of Set 2 | fairview
Processing Record 37 of Set 2 | golden
Processing Record 38 of Set 2 | sandpoint
Processing Record 39 of Set 2 | moa
Processing Record 40 of Set 2 | sault sainte marie
Processing Record 41 of Set 2 | guerrero negro
Processing Record 42 of Set 2 | havelock
Processing Record 43 of Set 2 | bar harbor
Processing Record 44 of Set 2 | two rivers
Processing Record 45 of Set 2 | burkburnett
Processing Record 46 of Set 2 | morro bay
Processing Record 47 of Set 2 | kokomo
Processing Record 48 of Set 2 | hearst
Processing Record 49 of Set 2 | brownsville
Processing Record 0 of Set 3 | uniontown
Processing Record 1 of Set 3 | chapleau
Processing Record 2 of Set 3 | hinton
Processing Record 3 of Set 3 | grand centre
City not found. Skipping...
Processing Record 4 of Set 3 | kenai
Processing Record 5 of Set 3 | stillwater
Processing Record 6 of Set 3 | chapais
Processing Record 7 of Set 3 | le mars
Processing Record 8 of Set 3 | west wendover
Processing Record 9 of Set 3 | barstow
Processing Record 10 of Set 3 | moctezuma
Processing Record 11 of Set 3 | hayden
Processing Record 12 of Set 3 | yellowknife
Processing Record 13 of Set 3 | borger
Processing Record 14 of Set 3 | ketchikan
Processing Record 15 of Set 3 | minnedosa
Processing Record 16 of Set 3 | pahrump
Processing Record 17 of Set 3 | thunder bay
Processing Record 18 of Set 3 | sayville
Processing Record 19 of Set 3 | pueblo nuevo
Processing Record 20 of Set 3 | hauterive
Processing Record 21 of Set 3 | kapuskasing
Processing Record 22 of Set 3 | houma
Processing Record 23 of Set 3 | washougal
Processing Record 24 of Set 3 | meadow lake
Processing Record 25 of Set 3 | kailua
Processing Record 26 of Set 3 | del rio
Processing Record 27 of Set 3 | guane
Processing Record 28 of Set 3 | dyersburg
Processing Record 29 of Set 3 | port washington
Processing Record 30 of Set 3 | warrington
Processing Record 31 of Set 3 | saint stephen
Processing Record 32 of Set 3 | flagstaff
Processing Record 33 of Set 3 | isla mujeres
Processing Record 34 of Set 3 | tucumcari
Processing Record 35 of Set 3 | magrath
Processing Record 36 of Set 3 | irondequoit
Processing Record 37 of Set 3 | hurricane
Processing Record 38 of Set 3 | lincoln
Processing Record 39 of Set 3 | celestun
Processing Record 40 of Set 3 | whitecourt
Processing Record 41 of Set 3 | eureka
Processing Record 42 of Set 3 | cockburn harbour
City not found. Skipping...
Processing Record 43 of Set 3 | mastic beach
Processing Record 44 of Set 3 | cortez
Processing Record 45 of Set 3 | estelle
Processing Record 46 of Set 3 | powell river
Processing Record 47 of Set 3 | la tuque
Processing Record 48 of Set 3 | kahului
Processing Record 49 of Set 3 | wilkie
Processing Record 0 of Set 4 | morristown
Processing Record 1 of Set 4 | potsdam
Processing Record 2 of Set 4 | bonnyville
Processing Record 3 of Set 4 | dolbeau
City not found. Skipping...
Processing Record 4 of Set 4 | centralia
Processing Record 5 of Set 4 | lawrenceburg
Processing Record 6 of Set 4 | dryden
Processing Record 7 of Set 4 | hibbing
Processing Record 8 of Set 4 | tecolutla
Processing Record 9 of Set 4 | lamar
Processing Record 10 of Set 4 | conroe
Processing Record 11 of Set 4 | juneau
Processing Record 12 of Set 4 | la reforma
Processing Record 13 of Set 4 | sonoita
Processing Record 14 of Set 4 | powassan
Processing Record 15 of Set 4 | daly city
Processing Record 16 of Set 4 | north bend
Processing Record 17 of Set 4 | duncan
Processing Record 18 of Set 4 | eau claire
Processing Record 19 of Set 4 | preston
Processing Record 20 of Set 4 | mandan
Processing Record 21 of Set 4 | red bank
Processing Record 22 of Set 4 | santa fe
Processing Record 23 of Set 4 | terrace
Processing Record 24 of Set 4 | brainerd
Processing Record 25 of Set 4 | sidney
Processing Record 26 of Set 4 | camargo
Processing Record 27 of Set 4 | juventino rosas
Processing Record 28 of Set 4 | viking
Processing Record 29 of Set 4 | morganton
Processing Record 30 of Set 4 | south sioux city
Processing Record 31 of Set 4 | huntsville
Processing Record 32 of Set 4 | kapaa
Processing Record 33 of Set 4 | ures
Processing Record 34 of Set 4 | sept-iles
Processing Record 35 of Set 4 | neepawa
Processing Record 36 of Set 4 | cerano
Processing Record 37 of Set 4 | trinidad
Processing Record 38 of Set 4 | duluth
Processing Record 39 of Set 4 | mantua
Processing Record 40 of Set 4 | piqua
Processing Record 41 of Set 4 | saint george
Processing Record 42 of Set 4 | beaverlodge

Processing Record 43 of Set 4 | gravelbourg
Processing Record 44 of Set 4 | danville
Processing Record 45 of Set 4 | bloomfield
Processing Record 46 of Set 4 | altamont
Processing Record 47 of Set 4 | gillette
Processing Record 48 of Set 4 | rutland
Processing Record 49 of Set 4 | two hills
Processing Record 0 of Set 5 | torrington
Processing Record 1 of Set 5 | statesboro
Processing Record 2 of Set 5 | mazatlan
Processing Record 3 of Set 5 | gimli
Processing Record 4 of Set 5 | puerto penasco
Processing Record 5 of Set 5 | whitehorse
Processing Record 6 of Set 5 | wasilla
Processing Record 7 of Set 5 | humboldt
Processing Record 8 of Set 5 | longlac
City not found. Skipping...
Processing Record 9 of Set 5 | forestville
Processing Record 10 of Set 5 | new ulm
Processing Record 11 of Set 5 | winnemucca
Processing Record 12 of Set 5 | mayo
Processing Record 13 of Set 5 | marsh harbour
Processing Record 14 of Set 5 | prince george
Processing Record 15 of Set 5 | ahome
Processing Record 16 of Set 5 | silver city
Processing Record 17 of Set 5 | moses lake
Processing Record 18 of Set 5 | ashland
Processing Record 19 of Set 5 | revelstoke
Processing Record 20 of Set 5 | pampa
Processing Record 21 of Set 5 | san diego de los banos
Processing Record 22 of Set 5 | lima
Processing Record 23 of Set 5 | pascagoula
Processing Record 24 of Set 5 | liberty
Processing Record 25 of Set 5 | coos bay
Processing Record 26 of Set 5 | saint-marc-des-carrieres
Processing Record 27 of Set 5 | owensboro
Processing Record 28 of Set 5 | athens
Processing Record 29 of Set 5 | west des moines
Processing Record 30 of Set 5 | ridgecrest
Processing Record 31 of Set 5 | saint-jovite
Processing Record 32 of Set 5 | healdsburg
Processing Record 33 of Set 5 | atlantic beach
Processing Record 34 of Set 5 | freeport
Processing Record 35 of Set 5 | fort morgan
Processing Record 36 of Set 5 | dauphin
Processing Record 37 of Set 5 | marquette
Processing Record 38 of Set 5 | nuevo progreso
Processing Record 39 of Set 5 | athabasca
Processing Record 40 of Set 5 | mackenzie
Processing Record 41 of Set 5 | wake forest
Processing Record 42 of Set 5 | canitas
City not found. Skipping...
Processing Record 43 of Set 5 | slave lake
Processing Record 44 of Set 5 | santa cruz
Processing Record 45 of Set 5 | pemberton
Processing Record 46 of Set 5 | hoquiam
Processing Record 47 of Set 5 | smithers
Processing Record 48 of Set 5 | aguada de pasajeros
Processing Record 49 of Set 5 | harrisonburg
Processing Record 0 of Set 6 | hondo
Processing Record 1 of Set 6 | newark
Processing Record 2 of Set 6 | susanville
Processing Record 3 of Set 6 | salisbury
Processing Record 4 of Set 6 | vermillion
Processing Record 5 of Set 6 | whitefish
Processing Record 6 of Set 6 | muskogee
Processing Record 7 of Set 6 | saint-agapit
Processing Record 8 of Set 6 | kenora
Processing Record 9 of Set 6 | madera
Processing Record 10 of Set 6 | pendleton
Processing Record 11 of Set 6 | kincardine
Processing Record 12 of Set 6 | bend
Processing Record 13 of Set 6 | green river
Processing Record 14 of Set 6 | devils lake
Processing Record 15 of Set 6 | baie-comeau
Processing Record 16 of Set 6 | las vegas
Processing Record 17 of Set 6 | meaford
Processing Record 18 of Set 6 | kuna
Processing Record 19 of Set 6 | loveland
Processing Record 20 of Set 6 | glenwood springs
Processing Record 21 of Set 6 | loiza
Processing Record 22 of Set 6 | port jervis
Processing Record 23 of Set 6 | rancho palos verdes
Processing Record 24 of Set 6 | rexburg
Processing Record 25 of Set 6 | key largo
Processing Record 26 of Set 6 | panaba
Processing Record 27 of Set 6 | murdochville
Processing Record 28 of Set 6 | destin
Processing Record 29 of Set 6 | hays
Processing Record 30 of Set 6 | laredo
Processing Record 31 of Set 6 | wadena
Processing Record 32 of Set 6 | polson
Processing Record 33 of Set 6 | west bay
Processing Record 34 of Set 6 | morgan city
Processing Record 35 of Set 6 | hornepayne
Processing Record 36 of Set 6 | tequisquiapan
Processing Record 37 of Set 6 | oxford
Processing Record 38 of Set 6 | woodstock
Processing Record 39 of Set 6 | canandaigua
Processing Record 40 of Set 6 | hope
Processing Record 41 of Set 6 | kirksville
Processing Record 42 of Set 6 | jasper
Processing Record 43 of Set 6 | macamic
Processing Record 44 of Set 6 | pierre
Processing Record 45 of Set 6 | fort saint james
Processing Record 46 of Set 6 | los banos
Processing Record 47 of Set 6 | port-cartier
Processing Record 48 of Set 6 | grants pass
Processing Record 49 of Set 6 | chestermere
Processing Record 0 of Set 7 | pacifica
Processing Record 1 of Set 7 | nochistlan
Processing Record 2 of Set 7 | fort saint john
City not found. Skipping...
Processing Record 3 of Set 7 | dumas
Processing Record 4 of Set 7 | greenville
Processing Record 5 of Set 7 | marinette
Processing Record 6 of Set 7 | mokena
Processing Record 7 of Set 7 | astoria
Processing Record 8 of Set 7 | ensenada
Processing Record 9 of Set 7 | high rock
Processing Record 10 of Set 7 | liberal
Processing Record 11 of Set 7 | craig
Processing Record 12 of Set 7 | rolla
Processing Record 13 of Set 7 | fort frances
Processing Record 14 of Set 7 | garden city
Processing Record 15 of Set 7 | paducah
Processing Record 16 of Set 7 | assiniboia
Processing Record 17 of Set 7 | traverse city
Processing Record 18 of Set 7 | sussex
Processing Record 19 of Set 7 | green valley
Processing Record 20 of Set 7 | owen sound
Processing Record 21 of Set 7 | cary
Processing Record 22 of Set 7 | chowchilla
Processing Record 23 of Set 7 | san luis rio colorado
Processing Record 24 of Set 7 | elizabeth city
Processing Record 25 of Set 7 | seminole
Processing Record 26 of Set 7 | boulder
Processing Record 27 of Set 7 | logan
Processing Record 28 of Set 7 | praxedis guerrero
Processing Record 29 of Set 7 | mountain home
Processing Record 30 of Set 7 | nederland
Processing Record 31 of Set 7 | twin falls
Processing Record 32 of Set 7 | socorro
Processing Record 33 of Set 7 | thessalon
Processing Record 34 of Set 7 | buckeye
Processing Record 35 of Set 7 | kantunilkin
Processing Record 36 of Set 7 | van wert
Processing Record 37 of Set 7 | baker city
Processing Record 38 of Set 7 | atikokan
Processing Record 39 of Set 7 | regina
Processing Record 40 of Set 7 | council bluffs
Processing Record 41 of Set 7 | progreso
Processing Record 42 of Set 7 | pataskala
Processing Record 43 of Set 7 | pecos
Processing Record 44 of Set 7 | rosarito
Processing Record 45 of Set 7 | estevan
Processing Record 46 of Set 7 | canton
Processing Record 47 of Set 7 | show low
Processing Record 48 of Set 7 | reno
Processing Record 49 of Set 7 | douglas
Processing Record 0 of Set 8 | scottsbluff
Processing Record 1 of Set 8 | cheney
Processing Record 2 of Set 8 | logan lake
Processing Record 3 of Set 8 | pahuatlan
City not found. Skipping...
Processing Record 4 of Set 8 | bayamo
Processing Record 5 of Set 8 | springville
Processing Record 6 of Set 8 | kitimat
Processing Record 7 of Set 8 | howard
Processing Record 8 of Set 8 | cardston
Processing Record 9 of Set 8 | gainesville
Processing Record 10 of Set 8 | asheville
Processing Record 11 of Set 8 | colborne
Processing Record 12 of Set 8 | saint-jean-port-joli
Processing Record 13 of Set 8 | lake city
Processing Record 14 of Set 8 | hailey
Processing Record 15 of Set 8 | lamesa
Processing Record 16 of Set 8 | pineville
Processing Record 17 of Set 8 | cody
Processing Record 18 of Set 8 | edgewater
Processing Record 19 of Set 8 | coalinga
Processing Record 20 of Set 8 | amarillo
Processing Record 21 of Set 8 | markdale
Processing Record 22 of Set 8 | villa union
Processing Record 23 of Set 8 | todos santos
Processing Record 24 of Set 8 | superior
Processing Record 25 of Set 8 | bathurst
Processing Record 26 of Set 8 | rio bravo
Processing Record 27 of Set 8 | mount pleasant
Processing Record 28 of Set 8 | newport
Processing Record 29 of Set 8 | dunmore town
Processing Record 30 of Set 8 | pine bluff
Processing Record 31 of Set 8 | rocky mountain house
Processing Record 32 of Set 8 | kimberley
Processing Record 33 of Set 8 | virden
Processing Record 34 of Set 8 | brandon
Processing Record 35 of Set 8 | hopewell

Processing Record 36 of Set 8 | olean
Processing Record 37 of Set 8 | livingston
Processing Record 38 of Set 8 | bristol
Processing Record 39 of Set 8 | beecher
Processing Record 40 of Set 8 | bedford
Processing Record 41 of Set 8 | east wenatchee bench
Processing Record 42 of Set 8 | lumberton
Processing Record 43 of Set 8 | aberdeen
Processing Record 44 of Set 8 | cumberland
Processing Record 45 of Set 8 | hutchinson
Processing Record 46 of Set 8 | wawa
Processing Record 47 of Set 8 | redwater
Processing Record 48 of Set 8 | tlacote el bajo
Processing Record 49 of Set 8 | winfield
Processing Record 0 of Set 9 | ames
Processing Record 1 of Set 9 | rodeo
Processing Record 2 of Set 9 | espanola
Processing Record 3 of Set 9 | grimshaw
Processing Record 4 of Set 9 | brenham
Processing Record 5 of Set 9 | millet
Processing Record 6 of Set 9 | elko
Processing Record 7 of Set 9 | warsaw
Processing Record 8 of Set 9 | san fernando
Processing Record 9 of Set 9 | amos
Processing Record 10 of Set 9 | cedar falls
Processing Record 11 of Set 9 | vidalia
Processing Record 12 of Set 9 | emporia
Processing Record 13 of Set 9 | jackson
Processing Record 14 of Set 9 | great bend
Processing Record 15 of Set 9 | fortuna foothills
Processing Record 16 of Set 9 | vicente guerrero
Processing Record 17 of Set 9 | chatham
Processing Record 18 of Set 9 | marana
Processing Record 19 of Set 9 | hollins
Processing Record 20 of Set 9 | bluefield
Processing Record 21 of Set 9 | fergus falls
Processing Record 22 of Set 9 | la cruz
Processing Record 23 of Set 9 | isla vista
Processing Record 24 of Set 9 | gloversville
Processing Record 25 of Set 9 | laurel
Processing Record 26 of Set 9 | cabanas
Processing Record 27 of Set 9 | alamosa
Processing Record 28 of Set 9 | midland
Processing Record 29 of Set 9 | berea
Processing Record 30 of Set 9 | santa cruz de rosales
City not found. Skipping...
Processing Record 31 of Set 9 | mayfield
Processing Record 32 of Set 9 | kingsland
Processing Record 33 of Set 9 | springfield
Processing Record 34 of Set 9 | springdale
Processing Record 35 of Set 9 | redlands
Processing Record 36 of Set 9 | bahia honda
Processing Record 37 of Set 9 | dickson
Processing Record 38 of Set 9 | adolfo lopez mateos
Processing Record 39 of Set 9 | wyoming
Processing Record 40 of Set 9 | hot springs
Processing Record 41 of Set 9 | esterhazy
Processing Record 42 of Set 9 | taft
Processing Record 43 of Set 9 | price
Processing Record 44 of Set 9 | davidson
Processing Record 45 of Set 9 | edson
Processing Record 46 of Set 9 | miles city
Processing Record 47 of Set 9 | topeka
Processing Record 48 of Set 9 | brownwood
Processing Record 49 of Set 9 | manitouwadge
Processing Record 0 of Set 10 | nuevitas
Processing Record 1 of Set 10 | elk point
Processing Record 2 of Set 10 | bismarck
Processing Record 3 of Set 10 | ham lake
Processing Record 4 of Set 10 | waverly
Processing Record 5 of Set 10 | peto
Processing Record 6 of Set 10 | escanaba
Processing Record 7 of Set 10 | san marcos
Processing Record 8 of Set 10 | weston
Processing Record 9 of Set 10 | la crosse
Processing Record 10 of Set 10 | wenatchee
Processing Record 11 of Set 10 | panama city
Processing Record 12 of Set 10 | san luis de la paz
Processing Record 13 of Set 10 | marathon
Processing Record 14 of Set 10 | eston
Processing Record 15 of Set 10 | malvern
Processing Record 16 of Set 10 | sierra vista
Processing Record 17 of Set 10 | streator
Processing Record 18 of Set 10 | fort madison
Processing Record 19 of Set 10 | jamestown
Processing Record 20 of Set 10 | fort dodge
Processing Record 21 of Set 10 | samana
Processing Record 22 of Set 10 | yucca valley
Processing Record 23 of Set 10 | suffolk
Processing Record 24 of Set 10 | matamoros
Processing Record 25 of Set 10 | concepcion del oro
Processing Record 26 of Set 10 | black forest
Processing Record 27 of Set 10 | ucluelet
Processing Record 28 of Set 10 | etchoropo
Processing Record 29 of Set 10 | moscow
Processing Record 30 of Set 10 | santa cruz del sur
Processing Record 31 of Set 10 | irricana
Processing Record 32 of Set 10 | la sarre
Processing Record 33 of Set 10 | homer
Processing Record 34 of Set 10 | valdosta
Processing Record 35 of Set 10 | timmins
Processing Record 36 of Set 10 | bardstown
Processing Record 37 of Set 10 | ionia
Processing Record 38 of Set 10 | capreol
Processing Record 39 of Set 10 | coachella
Processing Record 40 of Set 10 | castanos
Processing Record 41 of Set 10 | venustiano carranza
Processing Record 42 of Set 10 | dalton
Processing Record 43 of Set 10 | rincon
Processing Record 44 of Set 10 | thomasville
Processing Record 45 of Set 10 | jimenez
Processing Record 46 of Set 10 | killarney
Processing Record 47 of Set 10 | key west
Processing Record 48 of Set 10 | los mochis
Processing Record 49 of Set 10 | lewiston
Processing Record 0 of Set 11 | canora
Processing Record 1 of Set 11 | olds
Processing Record 2 of Set 11 | spring hill
Processing Record 3 of Set 11 | lindsay
Processing Record 4 of Set 11 | fulton
Processing Record 5 of Set 11 | madawaska
Processing Record 6 of Set 11 | hudson bay
Processing Record 7 of Set 11 | spencer
Processing Record 8 of Set 11 | san benito
Processing Record 9 of Set 11 | east liverpool
-----------------------------
Data Retrieval Complete
-----------------------------

In [24]:
city_data_pd = pd.DataFrame(city_data)
city_data_pd.count()

City          500
Lat           500
Lng           500
Max Temp      500
Humidity      500
Cloudiness    500
Wind Speed    500
Country       500
Date          500
dtype: int64

In [25]:
city_data_pd.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,flin flon,54.7682,-101.8650,30.20,55,40,10.36,CA,1615577231
1,high level,58.5169,-117.1360,30.20,51,75,12.66,CA,1615577240
2,constitucion,-35.3333,-72.4167,67.62,57,7,8.72,CL,1615577623
3,hilo,19.7297,-155.0900,75.20,69,20,4.61,US,1615576979
4,sitka,57.0531,-135.3300,32.00,74,40,6.91,US,1615577230

In [26]:
america_city = city_data_pd[(city_data_pd["Country"]=="US")]
america_city

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,hilo,19.7297,-155.0900,75.20,69,20,4.61,US,1615576979
4,sitka,57.0531,-135.3300,32.00,74,40,6.91,US,1615577230
5,guymon,36.6828,-101.4816,42.80,93,90,11.50,US,1615577169
8,tullahoma,35.3620,-86.2094,72.00,60,90,8.05,US,1615577497
11,galveston,29.3669,-94.9669,77.00,73,40,14.97,US,1615577625
...,...,...,...,...,...,...,...,...,...
494,fulton,33.7668,-84.4499,77.00,41,40,6.91,US,1615577150
495,madawaska,47.3561,-68.3288,42.80,36,61,16.11,US,1615577722
497,spencer,43.1414,-95.1444,48.20,49,1,8.05,US,1615577264
498,san benito,36.6166,-121.0844,57.99,87,5,1.99,US,1615577723
499,east liverpool,40.6187,-80.5773,59.00,28,1,12.66,US,1615577527

In [27]:
america_city.to_csv("scrapefrom.csv", index=False)

In [28]:
america_city.loc[america_city["City"].isin(tornado_df["BEGIN_LOCATION"].apply(str.lower))]

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
13,fairbanks,64.8378,-147.7164,-11.00,76,1,1.54,US,1615577468
29,merrill,45.1805,-89.6835,35.60,27,1,13.80,US,1615577272
79,anchorage,61.2181,-149.9003,10.40,51,1,4.61,US,1615577079
84,fairview,40.8126,-73.9990,69.80,17,1,3.44,US,1615577046
106,barstow,34.8986,-117.0228,51.80,43,40,7.78,US,1615577333
218,liberty,31.8335,-81.5004,80.01,38,1,3.44,US,1615577662
296,greenville,35.6127,-77.3663,81.00,36,1,8.05,US,1615577675
357,pineville,31.3224,-92.4343,81.00,59,89,3.00,US,1615577689
376,hopewell,37.3043,-77.2872,69.80,52,90,10.36,US,1615577515
404,jackson,42.4165,-122.8345,51.01,61,1,1.90,US,1615577175

In [29]:
america_city["Lat"].nunique()

294

In [30]:
america_city["Lng"].nunique()

294

In [37]:
merge_df = pd.merge(america_city, tornado_df, on="City")
merge_df

Empty DataFrame
Columns: [City, Lat_x, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Country, Date, Lat_y, BEGIN_DATE, EVENT_TYPE, TOR_F_SCALE, DEATHS_DIRECT, END_LOCATION]
Index: []